body{
    background-image: url(./back.jpg);
}

h2{
    color: ivory;
}
.button{
    box-shadow:inset 1px 1px 10px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 7px;
	text-decoration:none;
	text-shadow:0px -1px 0px #154682;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}
.sports-img-container{
	padding: 5%;
}

.sports-img{
	width: 330px;
	height: 200px;
	margin: 20px;
}